<md-grid-list cols="1" rowHeight="300px">
  <md-grid-tile>
  <p>
    
      <!--<md-input-container>
        <input mdInput 
          autofocus="autofocus"
          [formControl] ="myControl"
          [mdAutocomplete]="auto"
          placeholder="Enter search text" 
          #searchText 
          (keyup.enter)="searchString(searchText)"
          >
      </md-input-container>-->
      <md-input-container>
        <input mdInput 
          autofocus="autofocus"
          [formControl] ="myControl"
          [mdAutocomplete]="auto"
          placeholder="Enter search text" 
          >
      </md-input-container>


      <md-autocomplete #auto="mdAutocomplete">
        <md-option *ngFor="let option of filteredNames | async " [value]="option.name">
            {{ option.name }}
        </md-option>
      </md-autocomplete>

      <button md-icon-button  (click)="searchString()">
        <md-icon md-font-set="material-icons" >search</md-icon>
      </button>
    
  </p> 

  </md-grid-tile>
</md-grid-list>
