<md-toolbar color="primary">
    <span class="example-spacer"></span>
    <md-icon class="example-icon">favorite</md-icon>
    <button   md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
</md-toolbar>

<md-menu #menu="mdMenu">
  <button md-menu-item>
    <!--<md-icon>dialpad</md-icon>-->
    <span>App 1</span>
  </button>
  <button md-menu-item disabled>
    <!--<md-icon>voicemail</md-icon>-->
    <span>app 2</span>
  </button>
  <button md-menu-item>
    <!--<md-icon>notifications_off</md-icon>-->
    <span>App 3</span>
  </button>
</md-menu>